html{
    display: block;
    background-color: blueviolet;
    align-items: center;
}
head{
    display: block;
    margin: auto;
    margin-top: 20px;
    background-image: url(sike.jpg);
    height: 25rem;
    width: 30rem;
}
/* It's not much but it's honest work

<url>/aaokabhihawelipe

<url>/beatlesblacksabbathrollingstonezepellin.txt

[contains the encypted flag string :)]

huehuehue you can't get it.
*/